<div class="grid grid-cols gap-4 p-2">
  <div class="col-start-1 col-end-4 m-card">
    <div class="flex w-full">
      <h2 style="margin: 10px; width: 100%">Información de Registro</h2>
    </div>
    <div class="flex w-full">
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="campo">
          <label for="">Lugar de registro:</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">DIGEMID</mat-radio-button>
            <mat-radio-button value="2">DISA</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="flex gap-3 w-full">
          <div class="campo">
            <label for="">Sector:</label>
            <ng-select
              [items]="listaSector"
              bindLabel="nombre"
              bindValue="codigo"
              (change)="onChangeSector($event)"
            >
            </ng-select>
          </div>
          <div class="campo">
            <label for="">Sub Sector:</label>
            <div class="flex gap-2 w-full items-center">
              <input type="text"  class="form-control inputText01" readonly [value]="textoSubSector">
              <button (click)="openModalSubSector()" *ngIf="selecionarSector != null && selecionarSector != ''" class="boton-icon"><span class="material-icons">search</span></button>
            </div>
          </div>
        </div>
        <div class="campo">
          <label for="">Entidad:</label>
          <div class="flex gap-2 w-full items-center">
            <input type="text"   class="form-control inputText01" readonly [value]="textoEntidad">
            <div class="flex gap-2">
              <button class="boton-icon" (click)="openModalBuquedaEntidad()">
                <span class="material-icons">search</span>
              </button>
              <button class="boton-icon" title="ver entidad" *ngIf="codigoEntidad != null && codigoEntidad != ''" (click)="openModalVisualizacionEntidad()">
                <span class="material-icons">visibility</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-2 w-full p-2">
        <div class="campo">
          <label for="">Jurisdicción:</label>
          <input type="text" class="form-control inputText01" readonly>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <div class="campo">
            <label for="">N° Exp.Inic.Activid:</label>
            <input type="text"  class="form-control inputText01" >
          </div>
          <div class="campo">
            <label for="">Fecha Exp:</label>
            <div class="flex gap-2 w-full items-center">
              <input [matDatepicker]="dtFechaExp"  class="form-control inputText01">
              <mat-datepicker #dtFechaExp></mat-datepicker>
              <button  class="boton-icon" (click)="dtFechaExp.open()">
                <span class="material-icons">calendar_month</span>
              </button>
            </div>
          </div>
          <div class="campo">
            <label for="">N° R.D. Aut.:</label>
            <input type="text"  class="form-control inputText01">
          </div>
          <div class="campo">
            <label for="">Fecha Aut.:</label>
            <div class="flex gap-2 w-full items-center">
              <input [matDatepicker]="dtFechaAut" class="form-control inputText01">
              <mat-datepicker #dtFechaAut></mat-datepicker>
              <button  class="boton-icon"  (click)="dtFechaAut.open()">
                <span class="material-icons">calendar_month</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid grid-cols gap-4 p-2">
  <div class="col-start-1 col-end-4 m-card">
    <div class="flex w-full">
      <h2 style="margin: 10px; width: 100%">Datos Generales del Establecimiento</h2>
    </div>
    <div class="flex w-full">
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="flex gap-3 w-full">
          <div class="campo">
            <label for="">Nro. RUC:</label>
            <input type="text"  class="form-control inputText01">
            <button class="boton-icon"><span class="material-icons">search</span></button>
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="flex gap-3 w-full">
          <div class="campo">
            <label for="">Tipo Persona:</label>
            <ng-select
              [items]="listaTipoPersona"
              bindLabel="nombre"
              bindValue="codigo"
              (change)="onChangeTipoPersona($event)"
            >
            </ng-select>
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="flex gap-3 w-full">
          <div class="campo">
            <label for="">N° Telf(S):</label>
            <input type="text"  class="form-control inputText01">
            <input type="text"  class="form-control inputText01">
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="flex gap-3 w-full">
          <div class="campo">
            <label for="">N° Fax:</label>
            <input type="text"  class="form-control inputText01">
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full">
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="flex gap-3 w-full">
          <div class="campo">
            <label for="">Razón Social:</label>
            <input type="text"  class="form-control inputText01">
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
            <label for="">Nombre Comecial:</label>
            <input type="text"  class="form-control inputText01">
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full">
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="campo">
          <label for="">Dirección</label>
          <input type="text"  class="form-control inputText01">
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="campo">
          <label for="">Nro.:</label>
          <input type="text"  class="form-control inputText01">
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="campo">
          <label for="">Int./Mz/Lote:</label>
          <input type="text"  class="form-control inputText01">
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full">
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="campo">
          <label for="">Urbanización:</label>
          <input type="text"  class="form-control inputText01">
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="campo">
          <label for="">Dpto.:</label>
          <input type="text" class="form-control inputText01" readonly [value]="textoDepartamento">
          <button (click)="openModalDistrito()" class="boton-icon"><span class="material-icons">search</span></button>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="campo">
          <label for="">Prov.:</label>
          <input type="text"  class="form-control inputText01" readonly [value]="textoProvincia">
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full">
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="campo">
          <label for="">Distrito:</label>
          <input type="text"  class="form-control inputText01" readonly [value]="textoDistrito">
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="campo">
          <label for="">GR Latitud:</label>
          <input type="text"  class="form-control inputText01">
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2 w-full p-2">
        <div class="campo">
          <label for="">GR Long.:</label>
          <input type="text"  class="form-control inputText01">
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
        <div class="flex gap-3 w-full">
          <div class="campo">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col gap-1">
  <div class="flex w-full">
    <div class="m-card">
      <div class="grid grid-cols-1 gap-1">
        <div class="campo">
          <div class="m-card">
            <div class="flex justify-between items-center pr-2 pb-2">
              <h2>Representante legal</h2>
              <div class="flex gap-4">
                <button class="boton-icon bnt01" (click)="openModalRepresentanteLegal()"><span class="material-icons">add</span></button>
                <button class="boton-icon bnt01"><span class="material-icons">edit</span></button>
                <button class="boton-icon bnt01"><span class="material-icons">delete</span></button>
              </div>
            </div>

            <table mat-table [dataSource]="dataSourceRepresentanteLegal" class="table border">

              <ng-container matColumnDef="apellidos_nombres">
                <th mat-header-cell *matHeaderCellDef>Apellidos y Nombres</th>
                <td mat-cell *matCellDef="let element"> {{element.TPCDESCRIP}} </td>
              </ng-container>

              <ng-container matColumnDef="cargo">
                <th mat-header-cell *matHeaderCellDef>Cargo</th>
                <td mat-cell *matCellDef="let element"> {{element.TPCDESCRIP}} </td>
              </ng-container>

              <ng-container matColumnDef="sit">
                <th mat-header-cell *matHeaderCellDef>Sit.</th>
                <td mat-cell *matCellDef="let element"> {{element.TPCDESCRIP}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsRepresentanteLegal"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsRepresentanteLegal;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[3, 6, 9]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>
        <div class="campo">
          <div class="m-card">
            <div class="flex justify-between items-center pr-2 pb-2">
              <h2>Personal</h2>
              <div class="flex gap-4">
                <button class="boton-icon bnt01"><span class="material-icons">add</span></button>
                <button class="boton-icon bnt01"><span class="material-icons">edit</span></button>
                <button class="boton-icon bnt01"><span class="material-icons">delete</span></button>
              </div>
            </div>

            <table mat-table [dataSource]="dataSourcePersonal" class="table border">
              <ng-container matColumnDef="apellidos_nombres">
                <th mat-header-cell *matHeaderCellDef>Apellidos y Nombres</th>
                <td mat-cell *matCellDef="let element"> {{element.TPCDESCRIP}} </td>
              </ng-container>

              <ng-container matColumnDef="cargo">
                <th mat-header-cell *matHeaderCellDef>Cargo</th>
                <td mat-cell *matCellDef="let element"> {{element.TPCDESCRIP}} </td>
              </ng-container>

              <ng-container matColumnDef="sit">
                <th mat-header-cell *matHeaderCellDef>Sit.</th>
                <td mat-cell *matCellDef="let element"> {{element.TPCDESCRIP}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsPersonal"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsPersonal;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[3, 6, 9]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>

    <div class="m-card">
      <div class="m-card">
        <div class="flex justify-between items-center pr-2 pb-2">
          <h2>Horario de Funcionamiento</h2>
          <div class="flex gap-3">
            <button class="boton-icon bnt01"><span class="material-icons">add</span></button>
            <button class="boton-icon bnt01"><span class="material-icons">edit</span></button>
            <button class="boton-icon bnt01"><span class="material-icons">delete</span></button>
            <button class="boton-icon bnt01"><span class="material-icons">save</span></button>
            <button class="boton-icon bnt01"><span class="material-icons">cancel</span></button>
          </div>
        </div>

        <table mat-table [dataSource]="dataSourceHorario" class="table border">
          <ng-container matColumnDef="dia">
            <th mat-header-cell *matHeaderCellDef>Día</th>
            <td mat-cell *matCellDef="let element"> {{element.TPCDESCRIP}} </td>
          </ng-container>

          <ng-container matColumnDef="horario">
            <th mat-header-cell *matHeaderCellDef>Horario</th>
            <td mat-cell *matCellDef="let element"> {{element.TPCDESCRIP}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsHorario"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsHorario;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[3, 6, 9]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>

        <table mat-table [dataSource]="dataSourceHorarioDetalle" class="table border">
          <ng-container matColumnDef="horario_detalle">
            <th mat-header-cell *matHeaderCellDef>Detalle</th>
            <td mat-cell *matCellDef="let element"> {{element.TPCDESCRIP}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsHorarioDetalle"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsHorarioDetalle;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[3, 6, 9]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
