<!DOCTYPE html>
<html lang="en">

<head>
  <title>Datos Generales</title>
</head>

<body>

  <div class="flex flex-col gap-1">
    <div class="flex w-full">
      <div class="m-card">
        <div class="flex justify-between items-center pr-2 pb-2">
          <h2>Almacenes y / o Plantas</h2>
        </div>
        <table mat-table [dataSource]="dataSource" class="table table-striped table-hover">

          <!-- numero Column -->
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Numero</th>
            <td mat-cell *matCellDef="let element">
              <input type="checkbox" [checked]="element.numero === selectedNumero"
                (change)="selectItem(element.numero,element,$event)"> {{element.numero}}
            </td>
          </ng-container>

          <!-- nombre Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <!-- tipo Column -->
          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
          </ng-container>

          <!-- constancia Column -->
          <ng-container matColumnDef="constancia">
            <th mat-header-cell *matHeaderCellDef> Constancia </th>
            <td mat-cell *matCellDef="let element"> {{element.constancia}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="singlePayment(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator #paginator1 [pageSizeOptions]="[3, 6, 9]" showFirstLastButtons [length]="dataSource.data.length"
          aria-label="Select page of periodic elements">
        </mat-paginator>


      </div>


      <div class="m-card">
        <div class="flex justify-between items-center pr-2 pb-2">
          <div class="flex gap-4 items-center">
            <h2>Datos Generales</h2>
          </div>
          <div class="flex gap-4">
            <button class="boton-icon {{botonAddAlmacenesPlantasStyle}}" [disabled]="isAddAlmacenesPlantas"
              (click)="add()">
              <span class="material-icons">
                add
              </span>
            </button>
            <button class="boton-icon {{botonEditAlmacenesPlantasStyle}}" [disabled]="isEditAlmacenesPlantas"
              (click)="edit()">
              <span class="material-icons">
                edit
              </span>
            </button>
            <button class="boton-icon {{botonDeleteAlmacenesPlantasStyle}}" [disabled]="isDeleteAlmacenesPlantas"
              (click)="delete()">
              <span class="material-icons">
                delete
              </span>
            </button>
            <button class="boton-icon {{botonSaveAlmacenesPlantasStyle}}" [disabled]="isSaveAlmacenesPlantas"
              (click)="save()">
              <span class="material-icons">
                save
              </span>
            </button>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <div class="m-card">
            <div class="flex w-full">
              <div class="flex flex-col gap-2 w-full p-2">
                <div>
                  <div class="grid grid-cols-5 gap-5">
                    <div>
                      <label for="">Id</label>
                      <input type="text" [(ngModel)]="TxtALALItem" (keypress)="onKeyPress($event)"
                        class="form-control inputText01" placeholder="Item" [disabled]="isTxtALALItem">
                    </div>
                    <div>
                      <label for="">Tipo</label>
                      <select name="CboALALTipo" class="form-control inputText01" matNativeControl
                        [(ngModel)]="CboALALTipo" [disabled]="isCboALALTipo">
                        <option value="001" selected>ALMACEN</option>
                        <option value="004">LINEA</option>
                        <option value="003">OFICINA ADMINISTRATIVA</option>
                        <option value="002">PLANTA</option>
                      </select>
                    </div>
                    <div>
                      <label for="">Sec.</label>
                      <select name="CboALALTalCodigoSec" class="form-control inputText01" matNativeControl
                        [(ngModel)]="CboALALTalCodigoSec" [disabled]="isCboALALTalCodigoSec">
                        <option value="01" selected>01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                      </select>
                    </div>
                    <div>
                      <label for="">Cod. Uso</label>
                      <select name="CboALALCondUso" class="form-control inputText01" matNativeControl
                        [(ngModel)]="CboALALCondUso" [disabled]="isCboALALCondUso">
                        <option value="A" selected>CON SERVICIO</option>
                        <option value="P">SIN SERVICIO</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="grid grid-cols-2 gap-4">
                    <div>
                      <label for="" class="mr-12"> </label>
                      <input type="text" [(ngModel)]="TxtALPropietario" class="form-control inputText01"
                        (keypress)="onKeyPressString($event)" placeholder="Propietario"
                        [disabled]="isTxtALPropietario" />
                    </div>
                    <div class="grid grid-cols-4 gap-4">
                      <div class="d-flex align-items-center">
                        <label for="" class="mr-12 " style="padding-right: 10px;">Inicio</label>
                        <input [matDatepicker]="picker" [(ngModel)]="TxtALALFecIniAct" readonly
                          class="form-control mr-3" style="width: 130px; height:30px;">
                        <mat-datepicker #picker></mat-datepicker>
                        <button class="boton-icon" (click)="picker.open()">
                          <span class="material-icons">calendar_month</span>
                        </button>
                      </div>

                    </div>
                  </div>
                </div>
                <div>
                  <div class="grid grid-cols-2 gap-4">

                    <div class="d-flex align-items-center">
                      <label for="" class="mr-12">Nombre</label>
                      <input type="text" [(ngModel)]="TxtALALNombre" class="form-control inputText01"
                        (keypress)="onKeyPressString($event)" placeholder="Nombre" [disabled]="isTxtALALNombre" />
                    </div>

                    <div class="d-flex align-items-center">
                      <label for="" class="mr-12 " style="padding-right: 25px;">Fin</label>
                      <input [matDatepicker]="picker1" [(ngModel)]="TxtALALFecFinAct" readonly class="form-control mr-3"
                        style="width: 130px; height:30px;">
                      <mat-datepicker #picker1></mat-datepicker>
                      <button class="boton-icon" (click)="picker1.open()">
                        <span class="material-icons">calendar_month</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="grid grid-cols-2 gap-4">
                    <div class="d-flex align-items-center">
                      <label for="" class="mr-10">Dirección</label><input type="text" [(ngModel)]="TxtALALDireccion"
                        placeholder="Dirección" class="form-control inputText01" [disabled]="isTxtALALDireccion" />
                    </div>
                    <div class="d-flex align-items-center">
                      <label for="" class="mr-12">Número</label>
                      <input type="text" [(ngModel)]="TxtALALDirNro" placeholder="Número"
                        class="form-control inputText01" (keypress)="onKeyPress($event)" [disabled]="isTxtALALDirNro" />
                    </div>
                  </div>
                </div>
                <div>
                  <div class="grid grid-cols-2 gap-4">
                    <div class="d-flex align-items-center">
                      <label for="" class="mr-9">Urb/AH/PJ</label>
                      <input type="text" [(ngModel)]="TxtALALDirUrbanizacion" class="form-control inputText01"
                        placeholder="Urb/AH/PJ" [disabled]="isTxtALALDirUrbanizacion" />
                    </div>
                    <div class="d-flex align-items-center">
                      <label for="" class="mr-7">Int/Mz/Lote</label>
                      <input type="text" [(ngModel)]="TxtALALDirIntMzLote" class="form-control inputText01"
                        placeholder="Int/Mz/Lote" [disabled]="isTxtALALDirIntMzLote" />
                    </div>
                  </div>
                </div>
                <div>
                  <div class="grid grid-cols-2 gap-2">
                    <div class="d-flex align-items-center">
                      <label for="" class="mr-12 pr-2">Ubigeo </label>
                      <input type="text" [(ngModel)]="TxtALALUbigeo" placeholder="Ubigeo"
                        class="form-control inputText01" (keypress)="onKeyPress($event)" [disabled]="isTxtALALUbigeo" />
                      <button class="boton-icon ml-3">
                        <span class="material-icons">search</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="grid grid-cols-2 gap-4">
                    <div class="d-flex align-items-center">
                      <label for="" class="mr-12">Longitud</label>
                      <input type="text" [(ngModel)]="TxtALALLongitud" class="form-control inputText01"
                        placeholder="Longitud" [disabled]="isTxtALALLongitud" />
                    </div>
                    <div class="d-flex align-items-center">
                      <label for="" class="mr-12 pr-2">Latitud</label>
                      <input type="text" [(ngModel)]="TxtALALLatitud" class="form-control inputText01"
                        placeholder="Latitud" [disabled]="isTxtALALLatitud" />
                    </div>
                  </div>
                </div>
                <div>
                  <div class="grid grid-cols-2 gap-4">
                    <div class="d-flex align-items-center">
                      <label for="" class="mr-12 pr-2">Horario</label>
                      <input type="text" [(ngModel)]="TxtALALHorario" class="form-control inputText01"
                        placeholder="Horario" [disabled]="isTxtALALHorario" />
                    </div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div>
                  <div class="grid grid-cols-2 gap-4">
                    <div class="d-flex align-items-center">
                      <label for="" class="mr-12 ">Teléfono</label>
                      <input type="text" [(ngModel)]="TxtALALTelef1" placeholder="Teléfono"
                        class="form-control inputText01" (keypress)="onKeyPress($event)" [disabled]="isTxtALALTelef1" />
                    </div>
                    <div>Existe horario diferente registrado.</div>
                    <div>&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>


    <div class="flex w-full">
      <div class="m-card">
        <div class="flex justify-between items-center pr-2 pb-2">
          <h2>Areas</h2>
        </div>
        <table mat-table [dataSource]="dataSource2" class="table table-striped table-hover">
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef>Numero</th>
            <td mat-cell *matCellDef="let element">
              <input type="checkbox" [checked]="element.numero === selectedNumero2" class="form-control inputText01"
                (change)="selectItem2(element.numero, element, $event)"> {{element.numero}}
            </td>
          </ng-container>

          <ng-container matColumnDef="clasificacion">
            <th mat-header-cell *matHeaderCellDef>Clasificacion</th>
            <td mat-cell *matCellDef="let element"> {{element.clasificacion}} </td>
          </ng-container>
          <ng-container matColumnDef="subclasificacion">
            <th mat-header-cell *matHeaderCellDef>Sub Clasificacion</th>
            <td mat-cell *matCellDef="let element"> {{element.subclasificacion}} </td>
          </ng-container>
          <ng-container matColumnDef="grupo">
            <th mat-header-cell *matHeaderCellDef>Grupo</th>
            <td mat-cell *matCellDef="let element"> {{element.grupo}} </td>
          </ng-container>
          <ng-container matColumnDef="subgrupo">
            <th mat-header-cell *matHeaderCellDef>Sub Grupo</th>
            <td mat-cell *matCellDef="let element"> {{element.subgrupo}} </td>
          </ng-container>
          <ng-container matColumnDef="tipoproducto">
            <th mat-header-cell *matHeaderCellDef>Tipo Producto</th>
            <td mat-cell *matCellDef="let element"> {{element.tipoproducto}} </td>
          </ng-container>
          <ng-container matColumnDef="areanivelriesgo">
            <th mat-header-cell *matHeaderCellDef>Area Nivel Riesgo</th>
            <td mat-cell *matCellDef="let element"> {{element.areanivelriesgo}} </td>
          </ng-container>
          <ng-container matColumnDef="esterilidad">
            <th mat-header-cell *matHeaderCellDef>Esterilidad</th>
            <td mat-cell *matCellDef="let element"> {{element.esterilidad}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row (click)="singlePayment2(row)" *matRowDef="let row; columns: displayedColumns2;"></tr>

        </table>


        <mat-paginator #paginator2 [pageSizeOptions]="[3, 6, 9]" showFirstLastButtons [length]="dataSource2.data.length"
          aria-label="Select page of periodic elements">
        </mat-paginator>

      </div>


      <div class="m-card">
        <div class="flex justify-between items-center pr-2 pb-2">
          <div class="flex gap-4 items-center">
            <h2>Datos Generales</h2>
          </div>
          <div class="flex gap-4">
            <button class="boton-icon {{botonAreaStyle}}" [disabled]="isAddArea" (click)="addArea()">
              <span class="material-icons">
                add
              </span>
            </button>
            <button class="boton-icon {{botonAreaStyle}}" [disabled]="isEditArea" (click)="editArea()">
              <span class="material-icons">
                edit
              </span>
            </button>
            <button class="boton-icon {{botonAreaStyle}}" [disabled]="isDeleteArea" (click)="deleteArea()">
              <span class="material-icons">
                delete
              </span>
            </button>
            <button class="boton-icon {{botonAreaStyle}}" [disabled]="isSaveArea" (click)="saveArea()">
              <span class="material-icons">
                save
              </span>
            </button>
          </div>
        </div>



        <div class="flex flex-col gap-2">
          <div class="m-card">
            <div class="flex w-full">
              <div class="flex flex-col gap-2 w-full p-2">
                <div class="campo">
                  <div class="grid grid-cols-2 gap-2">
                    <div class="campo3">
                      <div class="grid grid-cols-2 gap-2">
                        <div class="campo">
                          <label for="">Id</label>
                        </div>
                        <div class="campo">
                          <input type="text" [(ngModel)]="TxtALARItem" placeholder="Item"
                            class="form-control inputText01 mr-3" (keypress)="onKeyPress($event)"
                            [disabled]="isTxtALARItem">
                          <button class="boton-icon">
                            <span class="material-icons">
                              search
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="campo">
                      <textarea rows="2" [(ngModel)]="TxtALARLiteral" [disabled]="isTxtALARLiteral"
                        (keypress)="onKeyPressString($event)" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div class="campo">
                  <div class="grid grid-cols-4 gap-4">
                    <div class="campo2">
                      <label for="">Clasificacion</label>
                    </div>
                    <div class="campo">
                      <input type="text" [(ngModel)]="TxtALARDescrip" class="form-control inputText01"
                        [disabled]="isTxtALARDescrip" (keypress)="onKeyPressString($event)">
                    </div>
                  </div>
                </div>
                <div class="campo">
                  <div class="grid grid-cols-4 gap-4">
                    <div class="campo"><label for="">Sub Clasificacion</label></div>
                    <div class="campo"><input type="text" [(ngModel)]="TxtALARSubtipo" class="form-control inputText01"
                        [disabled]="isTxtALARSubtipo" (keypress)="onKeyPressString($event)"
                        placeholder="Sub Clasificacion" /></div>
                  </div>
                </div>
                <div class="campo">
                  <div class="grid grid-cols-4 gap-4">
                    <div class="campo"><label for="">Grupo</label></div>
                    <div class="campo"><input type="text" [(ngModel)]="TxtALARGrupo" class="form-control inputText01"
                        [disabled]="isTxtALARGrupo" (keypress)="onKeyPressString($event)" placeholder="Grupo" /></div>
                  </div>
                </div>
                <div class="campo">
                  <div class="grid grid-cols-4 gap-4">
                    <div class="campo"><label for="">Sub Grupo</label></div>
                    <div class="campo"><input type="text" [(ngModel)]="TxtALARSubgrupo" class="form-control inputText01"
                        [disabled]="isTxtALARSubgrupo" (keypress)="onKeyPressString($event)" placeholder="Sub Grupo" />
                    </div>
                  </div>
                </div>
                <div class="campo">
                  <div class="grid grid-cols-4 gap-4">
                    <div class="campo"><label for="">Tipo Producto</label></div>
                    <div class="campo"><input type="text" [(ngModel)]="TxtALARTipoprod" class="form-control inputText01"
                        [disabled]="isTxtALARTipoprod" (keypress)="onKeyPressString($event)"
                        placeholder="Tipo Producto" /></div>
                  </div>
                </div>
                <div class="campo">
                  <div class="grid grid-cols-4 gap-4">
                    <div class="campo"><label for="">Area/Nivel Rsgo</label></div>
                    <div class="campo"><input type="text" [(ngModel)]="TxtALAREstFisFab"
                        class="form-control inputText01" [disabled]="isTxtALAREstFisFab" placeholder="Area EstFisFab" />
                    </div>
                    <!--<div class="campo"><input type="text" [(ngModel)]="TxtALAREsterilidad"  [disabled]="isTxtALAREsterilidad" placeholder="Area Sterilidad"/></div>-->
                    <div class="campo">&nbsp;</div>
                  </div>
                </div>
                <div class="campo">
                  <div class="grid grid-cols-4 gap-4">
                    <div class="campo"><label for="">Forma Obtenecion</label></div>
                    <div class="campo mr-9 pr-9 ">
                      <select name="cbodgtipotramite" class="form-control inputText01" [(ngModel)]="CboALALFormaObt"
                        matNativeControl [disabled]="isCboALALFormaObt">
                        <option selected>Select Forma</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</body>

</html>