<!DOCTYPE html>
<html lang="en">
<head>
  <title>Datos Generales</title>
</head>
<body>

  <div class="flex flex-col gap-2">
    <div class="m-card">
      <div class="flex w-full">
        <div class="flex flex-col gap-2 w-full p-2">


          <div class="campo">
            <div class="grid grid-cols-2 gap-2">
        
              <div class="campo">
                <label for="">Buscar Por</label>
                <select name="cbodgtipotramite" matNativeControl required class="form-control inputText01">
                  <option value="2" selected>CLASIFICACION</option>
                 </select>
              </div>
            </div>
          </div>
          <div class="campo">
            <div class="grid grid-cols-2 gap-2">
      
              <div class="campo">
                <label for="">Expresion</label>
                <input type="text" class="form-control inputText01" [(ngModel)]="expresion" class="form-control inputText01"
                placeholder="expresion"
                maxlength="100"
                placeholder="expresion"
                (keydown.enter)="buscarClick()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="flex flex-col gap-1 pt-3" style="overflow-y: auto; max-height: 80vh">
    <div class="m-card">
      <table mat-table [dataSource]="dataSourceVarios" class="table table-striped table-hover" >

        <ng-container matColumnDef="idclasificador">
          <th mat-header-cell *matHeaderCellDef>
            <input type="checkbox" [(ngModel)]="selectAllChecked" (change)="toggleSelectAll()"> Select All
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <input type="checkbox" [checked]="isChecked(i)" (change)="toggleChecked(i)"> 
      </td>
        </ng-container>

        <ng-container matColumnDef="tcpdescrip">
          <th mat-header-cell *matHeaderCellDef>Clasificacion</th>
          <td mat-cell *matCellDef="let element"> {{element.tcpdescrip}} </td>
        </ng-container>

        <ng-container matColumnDef="stcpdescrip">
          <th mat-header-cell *matHeaderCellDef>SubClasificacion</th>
          <td mat-cell *matCellDef="let element"> {{element.stcpdescrip}} </td>
        </ng-container>

        <ng-container matColumnDef="grpdescrip">
          <th mat-header-cell *matHeaderCellDef>Grupo</th>
          <td mat-cell *matCellDef="let element"> {{element.grpdescrip}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsVarios"></tr>
        <tr mat-row
            (click)="clickPersonal(row)"
            *matRowDef="let row; columns: displayedColumnsVarios;"
        ></tr>
      </table>

      <mat-paginator  [length]="dataSourceVarios.data.length" 
      [pageSize]="pageSize" 
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)">
      </mat-paginator>
     </div>
    </div>


    <div class="flex flex-col gap-2">
      <div class="m-card">
        <div class="flex w-full">
          <div class="flex flex-col gap-2 w-full p-2">
            <div class="campo">
              <div class="grid grid-cols-4 gap-4">
                <div class="campo">
                  <button class="boton-icon bnt01" (click)="onNoClick2()">
                    <span class="material-icons">
                      cancel_presentation
                    </span>
                  </button>
                </div>
                <div class="campo">
                  <button class="boton-icon bnt01" (click)="onNoClick(data)">
                    <span class="material-icons">
                      check_box
                      </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



















</body>
</html>
