<div class="container overflow-scroll">
  <div class="row row-cols-1">
    <div class="col">
      <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Nuevo</button>&nbsp;
      <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Guardar</button>&nbsp;
      <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Anular</button>&nbsp;
      <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Buscar</button>
    </div>
    <div class="col">



      <div class="container">
        <div class="row row-cols-1">
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text diametro4">Nro. Ficha Eval.</span>
              <input type="text" class="form-control" placeholder="Nro. Ficha Eval."/>
              <span class="input-group-text diametro4">&nbsp;</span>
              <span class="input-group-text diametro4">Fecha Eval.</span>
              <input type="text" class="form-control" placeholder="Fecha Eval."/>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <span class="input-group-text diametro4">Disa</span>
                <input type="text" class="form-control diametro3" placeholder="Disa"/>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text diametro4">Nro. Solicitud</span>
              <input type="text" class="form-control" placeholder="Nro. Solicitud"/>
              <input type="text" class="form-control diametro3" placeholder="Codigo entidad"/>
              <button type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                </svg>
              </button>
              <span class="visually-hidden">Button</span>
              <span class="input-group-text diametro4">&nbsp;</span>
              <span class="input-group-text diametro4">Fecha Sol.</span>
              <input type="text" class="form-control" placeholder="Fecha Sol."/>
              <span class="input-group-text diametro4">&nbsp;</span>
              <span class="input-group-text diametro4">Procedencia</span>
              <input type="text" class="form-control" placeholder="Procedencia"/>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text diametro4">Nro. Expediente</span>
              <input type="text" class="form-control" placeholder="Año Exp."/>
              <input type="text" class="form-control" placeholder="Nro. Exp."/>
              <span class="input-group-text diametro4">&nbsp;</span>
              <span class="input-group-text diametro4">Fecha. Exp.</span>
              <input type="text" class="form-control diametro3" placeholder="Fecha. Exp."/>
              <span class="input-group-text diametro4">&nbsp;</span>
              <span class="input-group-text diametro4">Resultado</span>
              <input type="text" class="form-control" placeholder="Resultado"/>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
             <span class="input-group-text diametro4">Tipo Tramite</span>
             <input type="text" class="form-control diametro3" placeholder="Tipo Tramite"/>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text diametro4">Entidad Sol.</span>
              <input type="text" class="form-control diametro3" placeholder="Entidad Sol."/>
              <span class="input-group-text diametro4">&nbsp;</span>
              <span class="input-group-text diametro4">Categoria</span>
              <input type="text" class="form-control diametro3" placeholder="Establecimiento Categoria"/>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text diametro4">Razon Social</span>
              <input type="text" class="form-control" placeholder="Razon Social"/>
              <input type="text" class="form-control diametro3" placeholder="Establecimiento Codigo"/>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text diametro4">Nombre Com.</span>
              <input type="text" class="form-control diametro3" placeholder="Nombre Comercial Entidad"/>
              <span class="input-group-text diametro4">Ruc</span>
              <input type="text" class="form-control diametro3" placeholder="RUC entidad"/>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text diametro4">Direccion</span>
              <input type="text" class="form-control" placeholder="Direccion"/>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text diametro4">Rep. Legal</span>
              <input type="text" class="form-control diametro3" placeholder="Rep. Legal"/>
              <span class="input-group-text diametro4">&nbsp;</span>
              <span class="input-group-text diametro4">Dir. Tec. o Reg.</span>
              <input type="text" class="form-control diametro3" placeholder="Dir. Tec. o Reg."/>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text diametro4">Evaluador</span>
              <input type="text" class="form-control" placeholder="Evaluador"/>
              <button type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                </svg>
              <span class="visually-hidden">Button</span>
              </button>
              <span class="input-group-text diametro4">&nbsp;</span>
              <span class="input-group-text diametro4">Nro. Oficio</span>
              <input type="text" class="form-control diametro3" placeholder="Nro. Oficio"/>
              <span class="input-group-text diametro4">&nbsp;</span>
              <span class="input-group-text diametro4">Fec. Oficio</span>
              <input type="text" class="form-control diametro3" placeholder="Año Exp."/>
            </div>
          </div>

        </div>
      </div>


    </div>
    <div class="col">

    <mat-tab-group fitInkBarToContent2>
      <mat-tab label="Detalle de Tramites">
        <div class="col overflow-scroll">

          <table mat-table [dataSource]="dataSourceTramite" class="table table-striped table-hover">

            <!-- numero Column -->
            <ng-container matColumnDef="tramite">
              <th mat-header-cell *matHeaderCellDef>Tramite</th>
              <td mat-cell *matCellDef="let element"> {{element.tramite}} </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>Descripcion</th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTramite"></tr>
            <tr mat-row
                (click)="singlePayment()"
                *matRowDef="let row; columns: displayedColumnsTramite;"
            ></tr>

          </table>
       </div>
      </mat-tab>
      <mat-tab label="Detalle de Evaluacion">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <div class="col overflow-scroll">

                <table mat-table [dataSource]="dataSourceDetalleEvaluacion" class="table table-striped table-hover">

                  <!-- numero Column -->
                  <ng-container matColumnDef="tipoDetalle">
                    <th mat-header-cell *matHeaderCellDef>Tipo Detalle</th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoDetalle}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsDetalleEvaluacion"></tr>
                  <tr mat-row
                      (click)="singlePayment()"
                      *matRowDef="let row; columns: displayedColumnsDetalleEvaluacion;"
                  ></tr>

                </table>
            </div>
            </div>
            <div class="col-8">
                      DESCRIPCION
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Respuestas de Notificaciones / Anexos">
        <div class="container">
          <div class="row">
            <div class="col">
              <table mat-table [dataSource]="dataSourceRespuestaNotificaciones" class="table table-striped table-hover">

                <!-- numero Column -->
                <ng-container matColumnDef="numero">
                  <th mat-header-cell *matHeaderCellDef>Numero</th>
                  <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
                </ng-container>

                <ng-container matColumnDef="anexo">
                  <th mat-header-cell *matHeaderCellDef>Anexo</th>
                  <td mat-cell *matCellDef="let element"> {{element.anexo}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef>Fecha</th>
                  <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsRespuestaNotificaciones"></tr>
                <tr mat-row
                    (click)="singlePayment()"
                    *matRowDef="let row; columns: displayedColumnsRespuestaNotificaciones;"
                ></tr>

              </table>
            </div>
            <div class="col">
              <div class="container">
                <div class="row row-cols-1">
                  <div class="col">
                    <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Nuevo</button>&nbsp;
                    <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Guardar</button>&nbsp;
                    <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Anular</button>&nbsp;
                    <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Buscar</button>
                  </div>
                  <div class="col">
                    <div class="input-group mb-3">
                      <span class="input-group-text diametro4">Tipo Anexo:</span>
                      <select name="cbodgtipotramite" matNativeControl required class="form-select">
                        <option [value]="item.idtramite" *ngFor="let item of cbodgtipotramite">{{item.ttrdescrip}}</option>
                        <option selected>Seleccionar Tipo</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group mb-3">
                     <span class="input-group-text diametro4">Nro. Expediente</span>
                     <input type="text" class="form-control diametro3" placeholder="Nro. Expediente"/>
                    </div>
                    </div>
                  <div class="col">
                    <div class="input-group mb-3">
                      <span class="input-group-text diametro4">Fecha Expediente</span>
                      <input type="text" class="form-control diametro3" placeholder="Fecha Expediente"/>
                    </div>
                  </div>
                  <div class="col">
                    <span class="input-group-text diametro4">Descripcion</span>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Documentos Asociados">
        <div class="container">
          <div class="row">
            <div class="col">

              <table mat-table [dataSource]="dataSourceDocumentosAsociados" class="table table-striped table-hover">

                <!-- numero Column -->
                <ng-container matColumnDef="tipo">
                  <th mat-header-cell *matHeaderCellDef>Tipo de Documento</th>
                  <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                </ng-container>

                <ng-container matColumnDef="numero">
                  <th mat-header-cell *matHeaderCellDef>Numero</th>
                  <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsDocumentosAsociados"></tr>
                <tr mat-row
                    (click)="singlePayment()"
                    *matRowDef="let row; columns: displayedColumnsDocumentosAsociados;"
                ></tr>

              </table>

            </div>
            <div class="col">
              <div class="container">
                <div class="row row-cols-1">
                  <div class="col">
                    <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Nuevo</button>&nbsp;
                    <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Guardar</button>&nbsp;
                    <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Anular</button>&nbsp;
                    <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Buscar</button>
                  </div>
                  <div class="col">
                    <div class="input-group mb-3">
                      <span class="input-group-text diametro4">Tipo Doc</span>
                      <select name="cbodgtipotramite" matNativeControl required class="form-select">
                        <option [value]="item.idtramite" *ngFor="let item of cbodgtipotramite">{{item.ttrdescrip}}</option>
                        <option selected>Seleccionar Tipo</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group mb-3">
                      <span class="input-group-text diametro4">Fecha</span>
                      <input type="text" class="form-control diametro3" placeholder="Fecha"/>
                      <span class="input-group-text diametro4">&nbsp;</span>
                      <span class="input-group-text diametro4">Numero</span>
                      <input type="text" class="form-control diametro3" placeholder="Numero"/>
                    </div>
                    </div>
                  <div class="col">
                    <span class="input-group-text diametro4">Sigla</span>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class="col">
                    <div class="input-group mb-3">
                      <span class="input-group-text diametro4">Estado</span>
                      <select name="cbodgtipotramite" matNativeControl required class="form-select">
                        <option [value]="item.idtramite" *ngFor="let item of cbodgtipotramite">{{item.ttrdescrip}}</option>
                        <option selected>Seleccionar Estado</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Notificaciones">
        <div class="container">
          <div class="row">
            <div class="col">

              <table mat-table [dataSource]="dataSourceNotificaciones" class="table table-striped table-hover">

                <ng-container matColumnDef="tipo">
                  <th mat-header-cell *matHeaderCellDef>Tipo Notificacion</th>
                  <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                </ng-container>
                <ng-container matColumnDef="oficio">
                  <th mat-header-cell *matHeaderCellDef>Oficio</th>
                  <td mat-cell *matCellDef="let element"> {{element.oficio}} </td>
                </ng-container>
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef>Fecha</th>
                  <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsNotificaciones"></tr>
                <tr mat-row
                    (click)="singlePayment()"
                    *matRowDef="let row; columns: displayedColumnsNotificaciones;"
                ></tr>

              </table>

            </div>
            <div class="col">
              <div class="container">
                <div class="row row-cols-1">
                  <div class="col">
                    <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Nuevo</button>&nbsp;
                    <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Guardar</button>&nbsp;
                    <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Anular</button>&nbsp;
                    <button type="button" class="btn btn-primary" role="button" data-bs-toggle="button" mdbRipple>Buscar</button>
                  </div>
                  <div class="col">
                    <div class="input-group mb-3">
                      <span class="input-group-text diametro4">Tipo Notif.</span>
                      <select name="cbodgtipotramite" matNativeControl required class="form-select">
                        <option [value]="item.idtramite" *ngFor="let item of cbodgtipotramite">{{item.ttrdescrip}}</option>
                        <option selected>Seleccionar Tipo</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group mb-3">
                      <span class="input-group-text diametro4">Nro. Oficio/Carta</span>
                      <input type="text" class="form-control diametro3" placeholder="Nro. Oficio/Carta"/>
                      <span class="input-group-text diametro4">&nbsp;</span>
                      <span class="input-group-text diametro4">Fecha Oficio/Notif.</span>
                      <input type="text" class="form-control diametro3" placeholder="Fecha Oficio/Notif."/>
                    </div>
                    </div>
                  <div class="col">
                    <span class="input-group-text diametro4">Descripcion</span>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Observaciones">
        <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </mat-tab>
    </mat-tab-group>

    </div>
  </div>
</div>
