<div class="grid grid-cols-6 gap-4 p-2">
  <div class="col-start-1 col-end-5 m-card">
    <div class="flex w-full">
      <div class="flex flex-col gap-4 w-full p-4">
        <div class="campo">
          <label for="">Nro Registro:</label>
          <input type="text" class="form-control inputText01 inputDisabled" readonly>
        </div>
        <div class="campo">
          <label for="">Clase/Tipo:</label>
          <ng-select
            [items]="listaClaseTipo"
            bindLabel="nombre"
            bindValue="codigo"
            (change)="onChangeClaseTipo($event)"
          >
          </ng-select>
        </div>
      </div>
      <div class="flex flex-col gap-4 w-full p-4">
        <div class="campo">
          <label for="">Nro Solicitud:</label>
          <input type="text" class="form-control inputText01 inputDisabled" readonly [value]="codigoSolicitud">
          <button class="boton-icon" (click)="openModalSolicitudInscripcion()"><span class="material-icons">search</span></button>
        </div>
        <div class="campo">
        </div>
      </div>
      <div class="flex flex-col gap-4 w-full p-4">
        <div class="campo">
          <label for="">Empadronado:</label>
          <input type="text" class="form-control inputText01 inputDisabled" readonly>
        </div>
        <div class="campo">
        </div>
      </div>
    </div>
  </div>
  <div class="col-end-7 col-span-2 m-card">
    <div class="flex w-full">
      <div class="flex flex-col gap-4 w-full p-4">
        <div class="campo">
          <label for="">Modalidad:</label>
          <input type="text" class="form-control inputText01">
        </div>
        <div class="campo">
          <label for="">Situación:</label>
          <ng-select
            [items]="listaSituacion"
            bindLabel="nombre"
            bindValue="codigo">
          </ng-select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols gap-4 p-2">
  <div class="m-card">
    <mat-tab-group dynamicHeight animationDuration="0ms" selectedIndex="0">
      <mat-tab label="Datos Generales">
        <div class="example-large-box mat-elevation-z4">
          <app-tab-establec-datos-generales></app-tab-establec-datos-generales>
        </div>
      </mat-tab>
      <mat-tab label="Actividades">
        <div class="example-large-box mat-elevation-z4">
          <app-tab-establec-actividades [selecionadoClaseTipo]="selecionarClaseTipo"></app-tab-establec-actividades>
      </div>
      </mat-tab>
      <mat-tab label="Almacenes/Plantas">
        <div class="example-large-box mat-elevation-z4">
          <app-tab-establec-almacenes-plantas></app-tab-establec-almacenes-plantas>
      </div>
      </mat-tab>
      <mat-tab label="Otro Datos">
        <div class="example-large-box mat-elevation-z4">
          <app-tab-establec-otros-datos></app-tab-establec-otros-datos>
      </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>

